[submodule "transparent-data-bridge-android"]
	path = transparent-data-bridge-android
	url = git@github.com:Big-Kotik/transparent-data-bridge-android.git
[submodule "transparent-data-bridge-proto"]
	path = transparent-data-bridge-proto
	url = git@github.com:Big-Kotik/transparent-data-bridge-proto.git
[submodule "transparent-data-bridge-server"]
	path = transparent-data-bridge-server
	url = git@github.com:Big-Kotik/transparent-data-bridge-server.git
[submodule "transparentb-data-bridge-relay"]
	path = transparentb-data-bridge-relay
	url = git@github.com:Big-Kotik/transparentb-data-bridge-relay.git
[submodule "transparent-data-bridge-calculator"]
	path = transparent-data-bridge-calculator
	url = git@github.com:Big-Kotik/transparent-data-bridge-calculator.git
